[submodule "archive/2020/Module3/module3_canopy"]
	path = archive/2020/Module3/module3_canopy
	url = https://github.com/oceaquaris/module3_canopy.git
[submodule "archive/2020/Module1/B_Team"]
	path = archive/2020/Module1/B_Team
	url = https://github.com/oceaquaris/B_Team.git
[submodule "archive/2020/Module3/context_matters"]
	path = archive/2020/Module3/context_matters
	url = https://github.com/amezqui3/context_matters.git
[submodule "doc/tutorial/Scientific_Image_Understanding"]
	path = doc/tutorial/Scientific_Image_Understanding
	url = https://github.com/colbrydi/Scientific_Image_Understanding.git
