[submodule "archive/2020/Module1/B_Team"]
	path = archive/2020/Module1/B_Team
	url = https://github.com/thompsonmaizelab/B_Team.git
[submodule "archive/2020/Module3/module3_canopy"]
	path = archive/2020/Module3/module3_canopy
	url = https://github.com/thompsonmaizelab/module3_canopy.git
[submodule "archive/2020/Module3/context_matters"]
	path = archive/2020/Module3/context_matters
	url = https://github.com/thompsonmaizelab/context_matters.git
[submodule "archive/2020/Module2/sjteresi_Maize_Phenomics_mirror"]
	path = archive/2020/Module2/sjteresi_Maize_Phenomics_mirror
	url = https://github.com/thompsonmaizelab/sjteresi_Maize_Phenomics_mirror.git
[submodule "doc/tutorial/Scientific_Image_Understanding"]
	path = doc/tutorial/Scientific_Image_Understanding
	url = https://github.com/thompsonmaizelab/Scientific_Image_Understanding.git
[submodule "archive/2021/Module1/HRT841_SVA"]
	path = archive/2021/Module1/HRT841_SVA
	url = https://github.com/thompsonmaizelab/HRT841_SVA.git
[submodule "archive/2021/Module1/CSS844-GO-Enrichment"]
	path = archive/2021/Module1/CSS844-GO-Enrichment
	url = https://github.com/thompsonmaizelab/CSS844-GO-Enrichment.git
[submodule "archive/2020/Module1/GoGreen"]
	path = archive/2020/Module1/GoGreen
	url = https://github.com/thompsonmaizelab/GoGreen.git
[submodule "archive/2020/Module1/serenalotreck_module-1-C_mirror"]
	path = archive/2020/Module1/serenalotreck_module-1-C_mirror
	url = https://github.com/thompsonmaizelab/serenalotreck_module-1-C_mirror.git
[submodule "archive/2020/Module2/serenalotreck_module-2-LUA_mirror"]
	path = archive/2020/Module2/serenalotreck_module-2-LUA_mirror
	url = https://github.com/thompsonmaizelab/serenalotreck_module-2-LUA_mirror.git
[submodule "archive/2020/Module3/sjteresi_Module_3_mirror"]
	path = archive/2020/Module3/sjteresi_Module_3_mirror
	url = https://github.com/thompsonmaizelab/sjteresi_Module_3_mirror.git
[submodule "archive/2020/Module1/sjteresi_Maize_ML_Project_mirror"]
	path = archive/2020/Module1/sjteresi_Maize_ML_Project_mirror
	url = https://github.com/thompsonmaizelab/sjteresi_Maize_ML_Project_mirror.git
[submodule "archive/2021/Module2/CSS844_module2"]
	path = archive/2021/Module2/CSS844_module2
	url = https://github.com/thompsonmaizelab/CSS844_module2.git
[submodule "archive/2021/Module2/CSS844-Insect-Damage"]
	path = archive/2021/Module2/CSS844-Insect-Damage
	url = https://github.com/thompsonmaizelab/CSS844-Insect-Damage.git
[submodule "archive/2020/Module2/synthetic_maize"]
	path = archive/2020/Module2/synthetic_maize
	url = https://github.com/thompsonmaizelab/synthetic_maize.git
